<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style> h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
    </style>
    <title>Hangman Game</title>
  </head>
  <body>
    <div class="container text-center">
      <h1>Hangman Game</h1>
      <div class="row vspace">
        <div class="col-md-6 col-md-offset-3">
        </div>
      </div>
    </div>
  <div class="container text-center">
      <form name="game_form" id= "game_form" action="{{url_for('start_game')}}" method = "POST">
        <p>Game ID: <input type = "number" min="0" step="1" id = "game_id" name="game_id" /> <input type = "submit" value = "Submit" /></p>
      </form>
    </div>
  </body>
</html>