<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style> h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}

    </style>
    <title>Hangman Game</title>
</head>
<body>
<div class="container text-center">
    <h1>You lost!</h1>
    <div class="row vspace">
        <div class="col-md-6 col-md-offset-3">
        </div>
    </div>
</div>
<div class="row">
     <div class="col-lg-8">
        {% if game_details.no_of_guesses == 6 %}
         <img src="/static/img/HangMan-6.svg" height="10%" width="20%" alt="Banner" class="img-responsive">
        {% endif %}
    </div>
    <div class="container text-center">
        <pre>Word: {{ game_details.word }}</pre>
    </div>
<div class="container text-center">
    <form action="/">
        <input type="submit" value="Go to Home Page"/>
    </form>
</div>
</body>
</html>